# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# Prisma
prisma/schema.d.ts
prisma/schema.json

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db